<nav
	class="absolute flex flex-col gap-2 top-0 left-0
	bg-primary-700 dark:bg-primary-900 h-full text-white font-medium
		w-64 pe-2
		overflow-y-auto custom-scrollbar
	"
	[ngClass]="{
		'justify-start': alignment === 'start',
		'justify-end': alignment === 'end',
		'justify-between': alignment === 'between'
	}"
>
	<ng-content select="[header]"></ng-content>

	<ng-container *ngFor="let item of sidebarItems">
		<sidebar-item [itemData]="item" />
	</ng-container>

	<ng-content select="[footer]"></ng-content>
</nav>