<div
	@fadeInOut
	class="flex flex-1 items-center justify-between shadow-sm rounded px-4 py-2 w-96 border-s-4
	hover:scale-105 transition-all duration-200"
	[ngClass]="{
		'border-red-500': alert.type === AlertType.Danger,
		'border-orange-400': alert.type === AlertType.Warning,
		'border-green-400': alert.type === AlertType.Success,
		'border-cyan-400': alert.type === AlertType.Info
	}"
>
	<span>{{ alert.message }}</span>
	<ng-icon
		name="akarCross"
		(click)="dismissItem(alert.id)"
	></ng-icon>
</div>