<div
	*ngIf="itemData as item"
	class="flex flex-col gap-2"
>
	<div class="relative flex items-center justify-between hover:bg-primary-500 select-none cursor-pointer">
		<span
			class="flex-1 bg-primary-600 p-2"
			[routerLink]="item.path ?? null"
			(click)="item.action && item?.action()"
		>
			{{ item.label }}
		</span>
		<ng-icon
			*ngIf="item.children"
			class="absolute top-1/2 right-2 -translate-y-1/2 rounded-full text-xl
				hover:bg-primary-500 cursor-pointer select-none
				transition-all duration-200"
			[ngClass]="{'rotate-90': openChildren()}"
			(click)="toggleOpen()"
			name="featherChevronRight"
		>
		</ng-icon>
	</div>
	<div
		@grow
		*ngIf="item.children && openChildren()"
		class="flex flex-col gap-2 ps-4 overflow-hidden"
	>
		<ng-container *ngFor="let children of item.children">
			<sidebar-item [itemData]="children"></sidebar-item>
		</ng-container>
	</div>
</div>